* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

a {
  color: #1e6bb8;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
}

.page__header {
  text-align: center;
  background-color: #1cbace;
  background-image: linear-gradient(120deg, #1f348f, #09f3f0);
  color: #fff;
  padding: 2rem 0 1rem 0;
}

.page__img--profile{
  width: 180px;
  height: 180px;
  border-radius: 90px
}

.page__name {

}

.page__content {
  padding: 2rem 3rem;
  font-size: 1.2rem;
}

.page__content-title {
  margin-bottom: 1rem;
  font-weight: normal;
  color: #1e6bb8;
}

.page__footer {
  border-top: solid 1px #eff0f1;
  padding: 1rem 3rem;
  font-size: 1rem;
  text-align: center;
}

.page_list-second {
  list-style: none;
  padding: 0;
}

.page_list-second li:before {
  content: "－";
}

.page__textFrame {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.page__footer-text {
  margin: 0 10px 0 0;
}